<!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>SHEED SIGNAL</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="main-box">

<div class="watermark">SHEED</div>

<h1 class="title">⚡ SHEED SIGNAL</h1>

<input id="pair" list="pairs" placeholder="Search Pair...">

<datalist id="pairs"></datalist>

<button class="signal-btn" onclick="getSignal()">GET SIGNAL</button>

<div id="result" class="result-box"></div>

<div id="history"></div>

</div>

<script src="/static/script.js"></script>

</body>

</html>